.body {
  margin-top: 23px;
  display: flex;
  height: calc(100vh - 23px);
  width: 100%;
  /* background-color: yellow; */
}

.movements-container {
  width: 50%;
  height: 100%;
  /* background-color: green; */
  overflow-y: auto;
}

.form-container {
  display: flex;
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  margin-top: 50px;
  align-items: initial;
  justify-content: center;
}
